<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card border-light pl-4">
            <div class="card-body">
                <h2 class="display-2 mb-2" style="color: rgb(204, 173, 0);">100%</h2>
                <span>Customer satisfaction <br>පාරිභෝගික විශ්වාසය</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card border-light pl-4">
            <div class="card-body">
                <h2 class="display-2 mb-2" style="color: blueviolet;"><i class="fas fa-shipping-fast" ></i></h2>
                <span>Island wide fast delivery <br>දිවයින පුරා බෙදාහැරිම</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card border-light pl-4">
            <div class="card-body">
                <h2 class="display-2 mb-2" style="color: rgb(0, 122, 116);">200+</h2>
                <span>Growing customers <br>අපගේ පාරිභෝගිකයන්</span>
            </div>
        </div>
    </div>
</div>