<footer class="footer section pt-6 pt-md-8 pt-lg-10 pb-3 bg-primary text-white overflow-hidden">
  <div class="pattern pattern-soft top"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0"><a class="footer-brand mr-lg-5 d-flex" href="/"><img
            src="{{ site.baseurl }}/assets/images/hybrid-cctv-logo.svg" height="35" class="mr-3" alt="Footer logo"></a>
        <p class="my-4">Enhanced Safety, Clear Vision: Explore our advanced CCTV Solutions, ensuring unparalleled security for your home or business. 
          Trust in our expertise to safeguard what matters most to you. Embrace peace of mind with our cutting-edge surveillance technology.</p>
        
      </div>
      <div class="col-6 col-sm-3 col-lg-2 mb-4 mb-lg-0">
        <h6>Themesberg</h6>
        <ul class="links-vertical">
          <li><a target="_blank" href="https://themesberg.com/blog?ref=creativetim">Blog</a></li>
          <li><a target="_blank" href="https://themesberg.com/themes?ref=creativetim">Themes</a></li>
          <li><a target="_blank" href="https://themesberg.com/contact?ref=creativetim">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-3 col-lg-2 mb-4 mb-lg-0">
        <h6>Creative Tim</h6>
        <ul class="links-vertical">
          <li><a target="_blank" href="https://www.creative-tim.com/blog">Blog</a></li>
          <li><a target="_blank" href="https://www.creative-tim.com/templates">Products</a></li>
          <li><a target="_blank" href="https://www.creative-tim.com/support-terms">Support</a></li>
          <li><a target="_blank" href="https://www.creative-tim.com/license">License</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <h6>Subscribe</h6>
        <p class="font-small">The latest Impact news, articles, and resources, sent straight to your inbox every month.
        </p>
        <form action="#">
          <div class="form-row">
            <div class="col-8"><input type="email" class="form-control mb-2" placeholder="Email Address" name="email"
                required=""></div>
            <div class="col-4"><button type="submit" class="btn btn-secondary btn-block"><span>Subscribe</span></button>
            </div>
          </div>
        </form><small class="mt-2 form-text">We’ll never share your details. See our <a href="#"
            class="font-weight-bold text-underline">Privacy Policy</a></small>
      </div>
    </div>
    <hr class="my-4 my-lg-5">
    <div class="row">
      <div class="col pb-4 mb-md-0">
        <div class="d-flex text-center justify-content-center align-items-center">
          <p class="font-weight-normal mb-0">© US LAYER <span
              class="current-year">2023</span>. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- JavaScript
================================================== -->

<!-- Core -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.12.0/headroom.min.js" integrity="sha512-9UsrKTYzS9smDm2E58MLs0ACtOki+UC4bBq4iK5wi7lJycwqcaiHxr1bdEsIVoK0l5STEzLUdYyDdFQ5OEjczw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Vendor JS -->
<script src="{{ site.baseurl }}/assets/js/on-screen.umd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.waypoints.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jarallax.min.js"></script>
<script
  src="{{ site.baseurl }}/assets/js/smooth-scroll.polyfills.min.js"></script>

<!---Font awesome-->
<script src="https://kit.fontawesome.com/ccc6f30e59.js" crossorigin="anonymous"></script>

<!-- Impact JS -->
<script src="{{ site.baseurl }}/assets/js/front.js"></script>