<section class="section-header pb-9 pb-lg-12 bg-primary text-white">
  <div class="container">

    <!-- <div class="row justify-content-center mb-5">
        <div class="col-12 col-sm-8 col-md-7 col-lg-6 text-center">
            <div class="d-flex justify-content-center mt-4">
                <div class="card-profile-image">
                    <img src="{{ site.baseurl }}/assets/images/hybrid_cctv_google_camera.jpg"
                            style="max-width: 50px;" class="rounded-circle" alt="Wi-Fi camera Sri Lanka pricing">
                </div>
            </div>
        </div>
    </div> -->

      <div class="row justify-content-center mb-5">
          <div class="col-12 col-sm-8 col-md-7 col-lg-6 text-center">
              <img src="{{ site.baseurl }}/assets/images/hybrid-cctv-logo.svg" class="mb-4" height="65" alt="Hybrid CCTV logo">
              <h1 class="display-4 text-muted mb-5 font-weight-normal">Your Trusted CCTV Solution</h1>

              <p class="text-muted font-small">Major products that are suitable for Sri Lanka:</p>
              <div class="d-flex justify-content-center mt-1">
                  <a href="https://www.hikvision.com/" target="_blank">
                      <img src="{{ site.baseurl }}/assets/images/hikvision-logo.png"  height="40%" alt="Hikvision Logo">
                  </a>
                  <a href="https://www.dahuasecurity.com/" target="_blank">
                      <img src="{{ site.baseurl }}/assets/images/dahua-logo.png" height="40%" alt="Dahua Logo">
                  </a>
              </div>

          </div>
      </div>
  </div>
  
  <div class="pattern bottom"></div>
</section>

<div class="section pt-0">
  <div class="container mt-n10 mt-lg-n12 z-2">
      <div class="row justify-content-center">
          <div class="col-12">
              <img src="{{ site.baseurl }}/assets/images/cover.webp" alt="CCTV Solution provider Galle, CCTV banner">
          </div>
      </div>
  </div>
</div>

