<header class="header-global">


    {% if page.url != "/" %}
    <nav id="navbar-main"
        class="navbar navbar-main navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-light navbar-theme-primary headroom--not-bottom headroom--pinned headroom--top">
        {% endif %}

        {% if page.url == "/" %}
        <nav id="navbar-main"
            class="navbar navbar-main navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-dark navbar-theme-primary headroom--not-bottom headroom--pinned headroom--top">
            {% endif %}

            <div class="container">
                {% if page.url != "/" %}
                <a class="navbar-brand @@logo_classes" href="/"><img class="navbar-brand-dark common"
                        src="{{ site.baseurl }}/assets/images/hybrid-cctv-logo.svg" width="200" height="35" alt="Logo light"> <img
                        class="navbar-brand-light common" src="{{ site.baseurl }}/assets/images/hybrid-cctv-logo-dark.svg" width="200" height="35"
                        alt="Logo dark"></a>
                {% endif %}

                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand"><a href="/"><img
                                        src="{{ site.baseurl }}/assets/images/hybrid-cctv-logo-dark.svg" height="35"
                                        alt="Logo HYBRID CCTV"></a></div>
                            <div class="col-6 collapse-close"><a href="#navbar_global" role="button"
                                    class="fas fa-times" data-toggle="collapse" data-target="#navbar_global"
                                    aria-controls="navbar_global" aria-expanded="false"
                                    aria-label="Toggle navigation"></a></div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover justify-content-center">

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown" aria-controls="pages_submenu" aria-expanded="false" aria-label="Toggle pages menu item">
                                <span class="nav-link-inner-text">Pricing</span>
                                <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                            </a>
                            <ul class="dropdown-menu" id="pages_submenu">
                                {% for price_item in site.data.menus.topmenu.pricing %}
                                <li><a class="dropdown-item" href="{{price_item.url | relative_url}}" alt="{{price_item.title}}">{{price_item.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="d-none d-lg-block @@cta_button_classes">
                    <a href="{{ site.baseurl }}/cctv-price-sri-lanka"
                        class="btn btn-md btn-docs btn-outline-white animate-up-2 mr-3">
                        <i class="fas fa-th-large mr-2"></i>
                        Get Quote
                    </a>
                    <a href="tel:=+94769026918" target="_blank" class="btn btn-md btn-secondary animate-up-2">
                        <i class="fas fa-phone-alt mr-2"></i> 
                        +94 76 9026918
                    </a>
                </div>
                <div class="d-flex d-lg-none align-items-center"><button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button></div>
            </div>
        </nav>
</header>